/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-orange: #fe8a02;
  --hover-orange: #ea7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --black: #000000;
  --blue-deep: #007DC1;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);

  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Neucha";
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 185px;
  font-size: 72px;
  color: var(--main-orange);
}

h1 span,
h2 span {
  color: var(--dark);
}

h2 {
  font-size: 60px;
  color: var(--main-orange);
}

h3 {
  font-size: 34px;
  color: var(--main-orange);
}

h4 {
  font-size: 14px;
  color: var(--main-orange);
}

p,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/*---Common-Classes-----------------------------------*/
.container {
  width: 1110px;
  margin: 0 auto;
}

.vertical {
  vertical-align: middle;
}

.ptb-5 {
  padding: 5px 0;
}

.ptb-100 {
  padding: 100px 0;
}

.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-10 {
  padding-left: 10px;
}

.bg-main::before {
  content: "";
  position: absolute;
  background: url("../images/background.png") 0 0 / cover no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.bg-main-dark {
  background: var(--main-dark);
}

.bg-white {
  background: var(--white);
}

.bg-orange {
  background: var(--main-orange);
}

.box-size {
  box-sizing: border-box;
}

.text-box-row {
  display: flex;
  column-gap: 30px;
}

.text-box-column {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.text-column-540 {
  flex: 0 0 540px;
}

.text-align-center {
  text-align: center;
}

.btn-hover:hover {
  background: var(--hover-orange);
  transition: background 0.5s ease 0s;
}

.neucha {
  font-family: "Neucha";
}

.open-sans {
  font-family: "Open Sans";
}

.dark {
  color: var(--dark);
}

.translucent-dark {
  color: var(--translucent-dark);
}

.white {
  color: var(--white);
}

.brown {
  color: var(--brown);
}

.black {
  color: var(--black);
}

.blue-deep {
  color: var(--blue-deep);
  text-decoration: underline;
}

.navigation-card-hover:hover {
  background: var(--main-orange);
  transition: background 0.5s ease 0s;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-55 {
  margin-left: 55px;
}

.mr-30 {
  margin-right: 30px;
}

.lh-160 {
  line-height: 160%;
}

.lh-41 {
  line-height: 41px;
}

.fz-34 {
  font-size: 34px;
}

.fz-18 {
  font-size: 18px;
}
.fz-12 {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.col-2 {
  display: flex;
}

.light-bg {
  width: 100%;
  position: relative;
}
.light-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light);
  z-index: -2;
}

.light-bg-small {
  width: 100%;
  background: var(--white);
}

.brown-bg {
  width: 100%;
  position: relative;
}

.brown-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brown);
  z-index: -2;
}

.brown-bg-small {
  width: 100%;
  background: var(--brown);
}

/*---HEADER-----------------------------------*/
.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light);
  z-index: -2;
}

.header-container {
  position: relative;
}

.header-container img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: -1;
}

.header-link {
  padding: 12px 24px;
  margin-top: 24px;
  align-self: flex-start;

  font-weight: 700;
  text-transform: uppercase;

  color: var(--white);
  background: var(--main-orange);
}

/*---VIDEO-----------------------------------*/
.video {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -200px;
}

/*---NAVIGATION-----------------------------------*/
.navigation-card-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.navigation-card {
  width: 350px;
  height: 323px;
}

.navigation-card:nth-child(n + 2):hover > * {
  color: var(--white);
  transition: color 0.5s ease 0s;
}

.navigation-card:nth-child(n + 4) {
  height: 348px;
}

.card-name {
  font-family: "Neucha";
  font-size: 52px;
  line-height: 120%;
  color: var(--main-orange);
}

.card-name span {
  color: var(--white);
}

.number {
  margin: 0 0 40px 24px;
  padding-top: 24px;
  font-size: 64px;
  line-height: 1;
  color: var(--main-dark);
}

/*---FOOTER-----------------------------------*/
.footer {
  box-sizing: border-box;
}

.footer-box {
  gap: 122px;
  padding: 38px 0px 40px 0px;
  margin-bottom: 76px;
  box-sizing: border-box;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  margin-bottom: 9px;
}

.form-input {
  box-sizing: border-box;
  height: 50px;
  width: 415px;
  padding: 15px;
  border: none;
}

.form-iput-image {
  width: 70px;
  height: 50px;
  background: var(--main-orange);
}

.form-iput-image::before {
  content: '';
  display: block;
  background: url("../images/send.svg") center no-repeat;
  width: 100%;
  height: 100%;
}

.footer-text a {
  text-decoration: underline;
  
}
