/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  width: 100vw;
  padding: 0;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: "Neucha";
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 185px;
  font-size: 72px;
  color: var(--main-orange);
}

h1 span {
  color: var(--dark);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/*---Common-Classes-----------------------------------*/
.ptb-100 {
  padding: 100px 0;
}

.bg-main::before {
  content: "";
  position: absolute;
  background: url("/src/images/background.png") 0 0 / cover no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.text-box-row {
  display: flex;
  column-gap: 30px;
}

.text-box-column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.text-column-540 {
  flex: 0 0 540px;
}

/*---HEADER-----------------------------------*/
.header {
  position: relative;
}

.header-container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

.header-container img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: 0;
}

.header-link {
  padding: 12px 24px;
  margin-top: 12px;
  align-self: flex-start;

  font-weight: 700;
  text-transform: uppercase;

  color: var(--white);
  background: var(--main-orange);
}
